.fontFamily {
  font-family: 'Roboto Condensed', sans-serif ;
}
.bg-white-soft {
  background-color: #f0f0f0;
}
.mouseHeader {
    transition: all infinite;
  }
  .mouseHeader:hover {
    border-top: 3px #48a5bb solid;
  }
/* Trasnformación */
@keyframes titulo {
  from {
      transform: translate(-200px);
      opacity: 0;

  }
  to {
      transform: translate(0);
      opacity: 1;
  }


}
.titulo {
  animation-name: titulo;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
}

  .mouseOrange:hover {
    background-color: rgb(236, 162, 0);
  }
  .mouseCeleste:hover {
    background-color: #51bfd8;
  }
  .mouseHeader2 {
    transition: all infinite;
  }
  
  .mouseHeader2:hover {
    background:linear-gradient(rgba(102, 175, 209, 0.623), rgba(31, 174, 231, 0.623));
  }
  .mouseHeader1 {
    transition: all infinite;
  }
  
  .mouseHeader1:hover {
    background:linear-gradient(rgba(102, 175, 209, 0.623), rgba(31, 174, 231, 0.623));
  }
  .mouseHeaderNoticias {
    transition: all infinite;
  }
  
  .mouseHeaderNoticias:hover {
    background:linear-gradient(rgba(211, 219, 223, 0.479), rgba(75, 70, 70, 0.363));
  }
@media (max-width: 575) and (min-width: 150) {
  .convertidor1 {
    background-color: aliceblue;
  }
}
.bgInicioNovedades {
  background-color: #d89858;
}
.bgGradient {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.colorNaranja {
  color: #e9901d;
}
.colorAzul {
  color: #48a5bb;
}
.bg-naranja {
  background: #e9901d;
}
.bg-verde {
  background: #9ebb32;
}
.bg-btn-tarifa {
 background-color: #48a5bb;
}
.imagenDos  {
  height: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(./images/mpho-mojapelo-s6Vv9u2qZyc-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.imagenTres  {
  background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(https://img.freepik.com/foto-gratis/grupo-personas-trabajando-plan-negocios-oficina_1303-15768.jpg?w=2000);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.imagenCuatro {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(./images/fondoNosotros\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagenCinco {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(https://www.uncuyo.edu.ar/bienestar/cache/rcp_800_900.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagenSeis {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
   url(https://plus.unsplash.com/premium_photo-1661454226420-0180bf9d7f43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagenSiete {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(https://segurosypensionesparatodos.fundacionmapfre.org/media/blog/diferencia-coberturas-servicios-1194x535-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagenOcho {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1615840287214-7ff58936c4cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagenNueve {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
  url(https://images.unsplash.com/photo-1560179707-f14e90ef3623?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80 );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagenDiez {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
  url(https://images.unsplash.com/photo-1582750433449-648ed127bb54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.imagenOnce {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
  url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.imagenDoce {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
  url(https://images.unsplash.com/photo-1600431521340-491eca880813?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
/* https://images.unsplash.com/photo-1560840067-ddcaeb7831d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=779&q=80 */
.imgBannerInicio{
  background:linear-gradient(rgba(77, 77, 77, 0.5), rgba(0, 0, 0, 0.6)),
  url(https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20rem;
}
@media only screen and (min-width:200px) and (max-width:992px){
  .imgBannerInicio{
    background:linear-gradient(rgba(77, 77, 77, 0.5), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 16rem;
  }
}
.bg-img-traslado {
  background:linear-gradient(rgba(77, 77, 77, 0.5), rgba(0, 0, 0, 0.6)),
  url(https://www.acudiremergencias.com.ar/wp-content/uploads/2b-1200x759.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 55px;
  bottom:10px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #20ba5a;
}
.btn-color-inicio {
  background-color: orange;
}
.bg-fluid-inicio {
  background: #48a5bb;
 }
 .imgResponsiveNoticias {
  width: 100%;
  height: 60%;
}
.imgResponsiveFooter {
  width: 55%;
  height: 55%;
}
.borderCasero {
  border-right: 4px #ffffff;
}
.sinSubrayado {
  text-decoration: none;
}
.imgResponsiveAmbulancia {
  width: 100%; height: 50%;
}
.imgResponsiveCarrusel {
  width: 20rem; height: 11rem;
}
.borderCasero1 {
  border-bottom: 3px #e9901d solid;
}
.alturaImgNoticias {
  height: 20rem;
}
.bgDrop {
  background-color: rgb(255, 249, 249)
}
.imagenBlancoNegro {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  -webkit-transition: all 0,3s;
  -moz-transition: all 0,3s;
  -ms-transition: all 0,3s;
  -o-transition: all 0,3s;
  transition: all 0,3s;
}
.imagenBlancoNegro:hover {
  filter: grayscale(0%);
  -webkit-transition: all 0,3s;
  -moz-transition: all 0,3s;
  -ms-transition: all 0,3s;
  -o-transition: all 0,3s;
  transition: all 0,3s;
}
.classD3Bg {
  margin: 4px;
  background-color: #221e1a;
  width: 25px;
  height: 100px;
  display: inline-block;
}
.fake-div {
  width:100%;
  height: 1280px;
  position:relative;
}
.heig {
  height: 1280vh;
}